
<app-navbar></app-navbar>

<div *ngIf="groceries.length > 0">
  <h4>Groceries: {{groceries.length}}</h4>
  <div>
    <button (click)="ngOnInit ()">Name</button>
    <button (click)="getGroceriesSortByType()">Type</button>
  </div>
  
  <div class="grocery-grid">
    <div *ngFor="let u of groceries" class="grocery-item" [ngClass]="getGroceryClass(u.groceryType)">
      <h3>{{ u.groceryName }}</h3>
      <p>{{u.groceryType}}</p>
      <!-- <p>{{ u.groceryType }}</p> -->
    </div>
  </div>
</div>
<div *ngIf="groceries.length == 0">
  <h3>No Groceries available!</h3>
</div>
