<app-navbar></app-navbar>
<nav class="navbar">
    <div class="navbar-container">
      
      <ul class="navbar-menu" id="navbar-menu">
        <li class="navbar-item">
          <a routerLink="/groceries" class="navbar-link">Groceries</a>
        </li>

        <li class="navbar-item">
          <a routerLink="/medicines" class="navbar-link">Medicines</a>
        </li>
        <li class="navbar-item">
          <a routerLink="/toileteries" class="navbar-link">Toileteries</a>
        </li>

      </ul>
    </div>
  </nav>