<app-navbar></app-navbar>
<div class="homepage-container">
    <div class="feature-section">
      <div class="feature">
        <a routerLink="/groceries">
        <img src="assets/images/groceries.jpg" alt="Groceries">
        <h2>Groceries</h2>
        <p>Manage your grocery list effortlessly.</p>
      </a>
      </div>
      <div class="feature">
        <img src="assets/images/medicines.jpg" alt="Medicines">
        <h2>Medicines</h2>
        <p>Track and manage your medicines.</p>
      </div>
      <div class="feature">
        <a routerLink="/toiletries">
        <img src="assets/images/toiletries.jpg" alt="Toiletries">
        <h2>Toiletries</h2>
        <p>Organize your toiletries and essentials.</p></a>
      </div>
      <div class="feature">
        <!-- <img src="/src/assets/background.jpg" alt="Others"> -->
        <h2>Others</h2>
        <p>Handle other household items with ease.</p>
      </div>
    </div>
    <div class="hero-section">
      <h1>Welcome to HouseHold Management</h1>
      <p>Efficiently manage your groceries, medicines, toiletries, and more.</p>
      <button class="cta-button">Get Started</button>
    </div>
  </div>
  